<!-- Modal -->
<div class="modal" id="modal-search-more-users" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Tìm kiếm người dùng</h5>               
      </div>
      <div class="modal-body">
         <div class="input-group search-users-new-group">
            <input type="text" class="form-control" placeholder="Nhập username, địa chỉ email hoặc số điện thoại " style="font-size:.9em" id="input-search-users-new-group">
            <div class="input-group-append">
              <button class="btn btn-warning btn-sm" id="btn-search-users-new-group"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="searching-result">
            <ul class="list-users" id="list-users-searching">              
              <!-- <li class="list-users-item" data-chat="<%= user._id %>">
                <div class="list-users-item__avatar">
                  <img src="images/users/<%= user.avatar %>" class="list-users-item__avatar-image">
                </div>
                <div class="list-users-item__info">
                  <div class="list-users-item__info-username">
                    <%= user.username %>
                  </div>
                  <div class="list-users-item__info-address">
                    <%= user.address ? user.address : "" %>
                  </div>
                </div>
                <div class="list-users-item__button">
                <button class="list-users-item__button-add" data-chat="<%= user._id %>">Thêm vào nhóm</button>
                <button class="list-users-item__button-remove" data-chat="<%= user.id %>">Xóa khỏi nhóm</button>
                </div>
              </li>                   -->
            </ul>               
          </div>
      </div>            
    </div>
  </div>
</div>
</div>
