<% allConversations.forEach( (conversation,index) => {%>
  <div class="modal fade" id="modalAttachFile-<%= conversation._id %>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tập tin đính kèm</h5>                  
        </div>
        <div class="modal-body modal-attachment-libraries">
          <% conversation.messages.forEach( message => { %>
            <% if(message.messageType == "file") {%>   
                <a href="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data) %>"  download="<%= message.file.fileName %>" title="upload vào lúc <%= convertDateTimeToString(message.createdAt) %>"><%= message.file.fileName %></a>            
            <%}%>
          <%})%>
        </div>        
      </div>
    </div>
  </div>
<%})%>
