<% allConversations.forEach( (conversation,index) => { %>
  <% if(conversation.members) {%>
  <div class="right-side__screen tab-pane" id="to-<%= conversation._id %>" >
    <div class="right-side__top">
      <div class="right-side__top--leftside">
        <div class="right-side__top--leftside-avatar">
          <div class="right-side__top--leftside-avatar--dot"></div>
          <img src="images/users/<%= conversation.avatar %>" alt="<%= conversation.avatar %>" class="right-side__top--leftside-avatar--image"/>
        </div>
        <div class="right-side__top--leftside-username-status">
          <span class="right-side__top--leftside-username">
            <%= conversation.name %>
          </span>             
        </div>
      </div>
      <div class="right-side__top--rightside">        
        <span class="right-side__top--rightside-item">
          <a href="javascript:void(0)" class="btn-link btn-dark-grey btn-open-modal-group" data-uid="<%= conversation._id %>"><i class="fas fa-users-cog"></i> Cài đặt nhóm</a>
        </span>         
        <span class="right-side__top--rightside-item">
          <a href="#modalImage-<%=conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey image-libraries" data-uid="<%= conversation._id %>">Hình ảnh <i class="fas fa-image"></i></a>
        </span>
        <span class="right-side__top--rightside-item">
          <a href="#modalAttachFile-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Tệp đính kèm <i class="fas fa-paperclip"></i></a>
        </span>
      </div>
    </div>
    <div class="right-side__middle">
      <div class="right-side__middle-content convert-emoji" data-chat="<%= conversation._id %>">            
        <% conversation.messages.forEach( (message, index) => { %>
          <%if (message.messageType == "text") {%>
            <div class="group right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble <% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                  
              <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                  
              <span class="right-side__middle-content-messenger-text right-side__middle-content-messenger-text--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-id="<%= message._id %>">
                <%- message.text %>
              </span>  
            </div>		                
          <%}%>
          <%if (message.messageType == "image") {%>
            <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">
              <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
              <span data-message-id="<%= message._id %>" >
                <img src="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data)%>" class="show-image-file">
              </span>   
            </div>              
          <%}%>
          <%if (message.messageType == "file") { %>
            <div class="group right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file <% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                  
              <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                  
              <span >
                <a href="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data) %>" class="bubble-attachment-file" download="<%= message.file.fileName %>"> <%= message.file.fileName %></a>
              </span>

            </div>
          <%}%>             
        <%})%>
      </div>
    </div>
    <div class="right-side__bottom convert-emoji" data-chat="<%= conversation._id %>">
      <input type="text" class="right-side__bottom-write write-chat chat-in-group" id="chat-text-<%= conversation._id %>" data-conversation-type="group" data-chat="<%= conversation._id %>" style="display:none">
      <div class="right-side__bottom-icons">
        <div class="right-side__bottom-icons-item">
          <a href="#" class="icon-chat"><i class="fas fa-smile"></i></a>
        </div>					
        <div class="right-side__bottom-icons-item">            
          <label for="image-chat-<%= conversation._id %>" class="image-chat" data-chat="<%= conversation._id %>"> <input type="file" class="d-none chat-in-group" id="image-chat-<%= conversation._id %>" name="msg-image-chat"><i class="fas fa-image"></i></label>
        </div>
        <div class="right-side__bottom-icons-item">            
          <label for="attach-chat-<%= conversation._id %>" data-chat="<%= conversation._id %>">  <input type="file" class="d-none chat-in-group" id="attach-chat-<%= conversation._id %>" name="msg-attachment-chat"><i class="fas fa-paperclip"></i></label>
        </div>           			
      </div>
    </div>
  </div>
  <%}else{%>
    <div class="right-side__screen tab-pane" id="to-<%= conversation._id %>" >
      <div class="right-side__top">
        <div class="right-side__top--leftside">
          <div class="right-side__top--leftside-avatar">
            <div class="right-side__top--leftside-avatar--dot"></div>
            <img src="images/users/<%= conversation.avatar %>" alt="<%= conversation.avatar %>" class="right-side__top--leftside-avatar--image"/>
          </div>
          <div class="right-side__top--leftside-username-status">
            <span class="right-side__top--leftside-username">
              <%= conversation.username %>
            </span>
            <span class="right-side__top--leftside-status">
              <% if(conversation.otherProps.lastTimeOnline == -1) {%>
                Vừa mới truy cập
              <%}else{%>
                Truy cập <%= convertToMessengerTimeStamp(conversation.otherProps.lastTimeOnline) %>
              <%}%>
            </span>
          </div>
        </div>
        <div class="right-side__top--rightside">
          <span class="right-side__top--rightside-item">
            <a href="#modalImage-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey image-libraries" data-uid="<%= conversation._id %>">Hình ảnh <i class="fas fa-image"></i></a>
          </span>
          <span class="right-side__top--rightside-item">
            <a href="#modalAttachFile-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Tệp đính kèm <i class="fas fa-paperclip"></i></a>
          </span>
        </div>
      </div>
      <div class="right-side__middle ">
        <div class="right-side__middle-content convert-emoji" data-chat="<%= conversation._id %>">              
          <% conversation.messages.forEach( (message, index) => { %>
            <%if (message.messageType == "text") {%>
              <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                    
                <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
                <span class="right-side__middle-content-messenger-text right-side__middle-content-messenger-text--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-id="<%= message._id %>">
                  <%- message.text %>
                </span>
                <br>
                <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>                      
                  <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                    <% if(message.hasSeen) {%>
                      Đã xem
                    <%}else if(message.hasReceived) {%>
                      Đã nhận
                    <%}else{%>
                      Đã gửi
                    <%}%>
                  </span>                            
                <%}%>
              </div>		
            <%}%>
            <%if (message.messageType == "image") {%>
              <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">
                <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
                <span data-message-id="<%= message._id %>" >
                  <img src="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data)%>" class="show-image-file">
                </span>
                <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>
                  <br>
                  <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                    <% if(message.hasSeen) {%>
                      Đã xem
                    <%}else if(message.hasReceived) {%>
                      Đã nhận
                    <%}else{%>
                      Đã gửi
                    <%}%>
                  </span>                            
                <%}%>
              </div>
            <%}%>
            <%if (message.messageType == "file" ) { %>
              <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                    
                <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" >
                <span data-message-id="<%= message._id %>">
                  <a href="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data) %>" class="bubble-attachment-file" download="<%=message.file.fileName %>"><%= message.file.fileName %></a>
                </span>
                <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>
                  <br>
                  <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                    <% if(message.hasSeen) {%>
                      Đã xem
                    <%}else if(message.hasReceived) {%>
                      Đã nhận
                    <%}else{%>
                      Đã gửi
                    <%}%>
                  </span>                            
                <%}%>
              </div>
            <%}%>                               
          <%})%>
              
        </div>
      </div>
      <div class="right-side__bottom convert-emoji" data-chat="<%= conversation._id %>">
        <input type="text" class="right-side__bottom-write write-chat" id="chat-text-<%= conversation._id %>" data-conversation-type="private"  data-chat="<%= conversation._id %>" style="display:none">
        <div class="right-side__bottom-icons">
          <div class="right-side__bottom-icons-item">
            <a href="#" class="icon-chat"><i class="fas fa-smile"></i></a>
          </div>					
          <div class="right-side__bottom-icons-item">                
            <label for="image-chat-<%= conversation._id %>" class="image-chat" data-chat="<%= conversation._id %>"><input type="file" class="d-none" id="image-chat-<%= conversation._id %>" name="msg-image-chat"><i class="fas fa-image"></i></label>
          </div>
          <div class="right-side__bottom-icons-item">
            <label for="attach-chat-<%= conversation._id %>" data-chat="<%= conversation._id %>">  <input type="file" class="d-none" id="attach-chat-<%= conversation._id %>" name="msg-attachment-chat"><i class="fas fa-paperclip"></i></label>
          </div>
          <div class="right-side__bottom-icons-item">
            <a href="javascript:void(0)" id="video-chat-<%= conversation._id %>" id="video-chat"><i class="fas fa-video"></i></a>
          </div>				
        </div>
      </div>
    </div>
  <%}%>
<%})%>
