<li class="nav-item left-side-conversations__content-item" >
  <a class="nav-link person active"  href="javascript:void(0)" data-target="#to-<%= user._id %>" data-chat="<%= user._id %>" >
    <div class="person__avatar">
      <img src="images/users/<%= user.avatar %>" class="person__avatar-image" >
    </div>
    <div class="person__infor">
      <div class="person__infor--username">
        <%= user.username %>
      </div>
      <div class="person__infor--messenger convert-emoji">
        Bắt đầu trò chuyện
      </div>
    </div>
    <div class="person__config" data-uid="<%= user._id %>">
      <div class="person__config--setting">
        <span>...</span>       
      </div>
      <div class="person__config--menu" data-uid="<%= user._id %>">
        <div class="remove-conversation">Xóa hội thoại</div>
      </div>
      <div class="person__config--time" data-uid="<%= user._id %>">
        <%= convertToMessengerTimeStamp(user.msgUpdatedAt) %>
      </div>
    </div>          
  </a>
</li> 
