<div class="right-side__screen tab-pane active" id="to-<%= user._id %>" >
  <div class="right-side__top">
    <div class="right-side__top--leftside">
      To :
      <span class="right-side__top--leftside-username">
        <%= user.username %>
      </span>
    </div>
    <div class="right-side__top--rightside">
      <span class="right-side__top--rightside-item">
        <a href="#modalImage-<%= user._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Hình ảnh <i class="fas fa-image"></i></a>
      </span>
      <span class="right-side__top--rightside-item">
        <a href="#modalAttachFile<%= user._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Tệp đính kèm <i class="fas fa-paperclip"></i></a>
      </span>
    </div>
  </div>
  <div class="right-side__middle ">
    <div class="right-side__middle-content convert-emoji" data-chat="<%= user._id %>">
      
    </div>
  </div>
  <div class="right-side__bottom convert-emoji" data-chat="<%= user._id %>">
    <input type="text" class="right-side__bottom-write write-chat" id="chat-text-<%= user._id %>" data-conversation-type="private"  data-chat="<%= user._id %>" style="display:none">
    <div class="right-side__bottom-icons">
      <div class="right-side__bottom-icons-item">
        <a href="#" class="icon-chat"><i class="fas fa-smile"></i></a>
      </div>					
      <div class="right-side__bottom-icons-item">
        <input type="file" class="d-none" id="image-chat">
        <label for="image-chat"><i class="fas fa-image"></i></label>
      </div>
      <div class="right-side__bottom-icons-item">
        <input type="file" class="d-none" id="attach-chat">
        <label for="attach-chat"><i class="fas fa-paperclip"></i></label>
      </div>
      <div class="right-side__bottom-icons-item">
        <a href="#modalVideoCall" data-toggle="modal" id="video-chat"><i class="fas fa-video"></i></a>
      </div>				
    </div>
  </div>
</div>
