<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/v4-shims.min.css">
	<link rel="stylesheet" href="bower_components/emojionearea/dist/emojionearea.min.css">
	<link rel="stylesheet" href="bower_components/photoset-grid/css/colorbox.css">
	<link rel="stylesheet" href="bower_components/alertifyjs/css/alertify.min.css">
	<link rel="stylesheet" href="bower_components/alertifyjs/css/themes/default.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Messenger</title>
</head>
<body>
	<!-- Loading -->
	<div class="loading-ring" id="loading"><div></div><div></div><div></div><div></div></div>
	<!-- Modal Loading -->
	<div class="modal-loading"></div>

	<!-- alert -->
		<%- include("alert/alert") %>
	<!-- Navigation bar -->
		<%- include("navbar/navbar") %>
		
	<!-- Content -->
		<%- content %>

	<!-- Modal -->
	<div class="section-modal">	
		<!-- Modal contact -->
		<%- include("contact/contactModal") %>

		<!-- Modal user profile -->
		<%- include("userSetting/userSettingModal") %>

		<!--Modal group chat  -->		
		<%- include("groupChat/groupChatModal") %>

		<!-- Modal image chat -->
		<%- include("images/imagesModal") %>

		<!-- Modal attachment file -->
		<%- include("attachments/attachmentsModal") %>

		<!-- Modal video call -->
		<%- include("videoCall/videoCallModal") %>
	</div>
	<!-- Integrate libraries -->	
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/jquery/dist/core.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
	<script src="bower_components/alertifyjs/alertify.min.js"></script>
	<script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
	<script src="bower_components/emojionearea/dist/emojionearea.min.js"></script>
	<script src="bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>
	<script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/updateUserProfile.js"></script>
	
</body>
</html>
