<div class="col-12 col-sm-4 col-lg-4 col-xl-3 left-side">
  <div class="left-side__setting">
    <select class="custom-select w-75" id="select-type-chat">
      <option value="all-chat" data-toggle="tab" data-target="#all-conversations">Toàn bộ trò chuyện</option>
      <option value="private-chat" data-toggle="tab" data-target="#private-conversations">Trò chuyện cá nhân</option>
      <option value="group-chat" data-toggle="tab" data-target="#group-conversations">Trò chuyện nhóm</option>
    </select>
    <a href="#modalGroupChat" class="btn-create-group-chat" id="btn-create-group-chat" data-toggle="modal"><i class="fas fa-edit"></i></a>				
  </div>  
    <div class="tab-content left-side-conversations">
     <div class="tab-pane left-side-conversations__content active show" id="all-conversations">
      <ul class="left-side-conversations__content-list">   
        <% allConversations.forEach( (conversation, index) => {%>                                        
          <% if(conversation.members) {%>
            <li class="nav-item left-side-conversations__content-item" >
              <a class="nav-link person group-chat"  href="javascript:void(0)" data-target="#to-<%= conversation._id %>" data-chat="<%= conversation._id %>" >
                <div class="person__avatar">
                  <img src="images/users/<%= conversation.avatar %>" class="person__avatar-image" >
                </div>
                <div class="person__infor">
                  <div class="person__infor--username">
                    <%= conversation.name %>
                  </div>
                  <div class="person__infor--messenger convert-emoji">
                    <%if (getLastItemInArray(conversation.messages).messageType == "text"){ %>
                      <% if(getLastItemInArray(conversation.messages).text.length > 15) {%>
                        <%= getLastItemInArray(conversation.messages).text.substring(0,15) %>
                        <span>...</span>
                      <% }else {%>
                        <%= getLastItemInArray(conversation.messages).text %>
                      <%}%>                    
                    <%}%>
                    <% if(getLastItemInArray(conversation.messages).messageType == "image") {%>
                      <span>Hình ảnh</span>
                    <%}%>
                    <%if(getLastItemInArray(conversation.messages).messageType == "file") {%>
                      <span>Tệp đính kèm </span>
                    <%}%>
                  </div>
                </div>
                <div class="person__config" data-uid="<%= conversation._id %>">
                  <div class="person__config--setting" >
                    <span>...</span>                  
                  </div>
                  <div class="person__config--menu" data-uid="<%= conversation._id %>">
                    <div class="remove-conversation">Xóa hội thoại</div>
                  </div>
                  <div class="person__config--time" data-uid="<%= conversation._id %>">
                    <%= convertToMessengerTimeStamp(conversation.msgUpdatedAt) %>
                  </div>
                </div>               
              </a>
            </li>              
          <%}else{%>
            <li class="nav-item left-side-conversations__content-item" >
              <a class="nav-link person"  href="javascript:void(0)" data-target="#to-<%= conversation._id %>" data-chat="<%= conversation._id %>" >
                <div class="person__avatar">
                  <span class="person__avatar--dot"></span>
                  <img src="images/users/<%= conversation.avatar %>" class="person__avatar-image" >
                </div>
                <div class="person__infor">
                  <div class="person__infor--username">
                    <%= conversation.username %>
                  </div>
                  <div class="person__infor--messenger convert-emoji">
                    <%if (getLastItemInArray(conversation.messages).messageType == "text"){ %>
                      <% if(getLastItemInArray(conversation.messages).text.length > 15) {%>
                        <%= getLastItemInArray(conversation.messages).text.substring(0,15) %>
                        <span>...</span>
                      <% }else {%>
                        <%= getLastItemInArray(conversation.messages).text %>
                      <%}%>                    
                    <%}%>
                    <% if(getLastItemInArray(conversation.messages).messageType == "image") {%>
                      <span>Hình ảnh</span>
                    <%}%>
                    <%if(getLastItemInArray(conversation.messages).messageType == "file") {%>
                      <span>Tệp đính kèm </span>
                    <%}%>
                  </div>
                </div>
                <div class="person__config" data-uid="<%= conversation._id %>">
                  <div class="person__config--setting">
                    <span>...</span>                   
                  </div>
                  <div class="person__config--menu" data-uid="<%= conversation._id %>">
                    <div class="remove-conversation">Xóa hội thoại</div>
                  </div>
                  <div class="person__config--time" data-uid="<%= conversation._id %>">
                    <%= convertToMessengerTimeStamp(conversation.msgUpdatedAt) %>
                  </div>
                </div>                 
              </a>
            </li>            
          <%}%>
        <%})%>             
      </ul> 
    </div>
    <div class="tab-pane left-side-conversations__content" id="private-conversations">
      <ul class="left-side-conversations__content-list">                           
        <% allConversations.forEach( (conversation,index) => {%>      
          <% if(!conversation.members) {%>
            <li class="nav-item left-side-conversations__content-item" >
              <a class="nav-link person"  href="javascript:void(0)" data-target="#to-<%= conversation._id %>" data-chat="<%= conversation._id %>" >
                <div class="person__avatar">
                  <span class="person__avatar--dot"></span>
                  <img src="images/users/<%= conversation.avatar %>" class="person__avatar-image" >
                </div>
                <div class="person__infor">
                  <div class="person__infor--username">
                    <%= conversation.username %>
                  </div>
                  <div class="person__infor--messenger convert-emoji">
                    <%if (getLastItemInArray(conversation.messages).messageType == "text"){ %>
                      <% if(getLastItemInArray(conversation.messages).text.length > 15) {%>
                        <%= getLastItemInArray(conversation.messages).text.substring(0,15) %>
                        <span>...</span>
                      <% }else {%>
                        <%= getLastItemInArray(conversation.messages).text %>
                      <%}%>                    
                    <%}%>
                    <% if(getLastItemInArray(conversation.messages).messageType == "image") {%>
                      <span>Hình ảnh</span>
                    <%}%>
                    <%if(getLastItemInArray(conversation.messages).messageType == "file") {%>
                      <span>Tệp đính kèm </span>
                    <%}%>
                  </div>
                </div>
                <div class="person__config" data-uid="<%= conversation._id %>">
                  <div class="person__config--setting">
                    <span>...</span>                    
                  </div>
                  <div class="person__config--menu" data-uid="<%= conversation._id %>">
                    <div class="remove-conversation">Xóa hội thoại</div>
                  </div>
                  <div class="person__config--time" data-uid="<%= conversation._id %>">
                    <%= convertToMessengerTimeStamp(conversation.msgUpdatedAt) %>
                  </div>
                </div>                         
              </a>
            </li>            
          <%}%>
        <%})%>             
      </ul> 
     </div>
     <div class="tab-pane left-side-conversations__content" id="group-conversations">
      
      <ul class="left-side-conversations__content-list">    
        <% allConversations.forEach( (conversation,index) => {%>                             
          <% if(conversation.members) {%>
            <li class="nav-item left-side-conversations__content-item">
              <a class="nav-link person group-chat"  href="javascript:void(0)" data-target="#to-<%= conversation._id %>" data-chat="<%= conversation._id %>" >
                <div class="person__avatar">
                  <img src="images/users/<%= conversation.avatar %>" class="person__avatar-image" >
                </div>
                <div class="person__infor">
                  <div class="person__infor--username">
                    <%= conversation.name %>
                  </div>
                  <div class="person__infor--messenger convert-emoji">
                    <%if (getLastItemInArray(conversation.messages).messageType == "text"){ %>
                      <% if(getLastItemInArray(conversation.messages).text.length > 15) {%>
                        <%= getLastItemInArray(conversation.messages).text.substring(0,15) %>
                        <span>...</span>
                      <% }else {%>
                        <%= getLastItemInArray(conversation.messages).text %>
                      <%}%>                    
                    <%}%>
                    <% if(getLastItemInArray(conversation.messages).messageType == "image") {%>
                      <span>Hình ảnh</span>
                    <%}%>
                    <%if(getLastItemInArray(conversation.messages).messageType == "file") {%>
                      <span>Tệp đính kèm </span>
                    <%}%>
                  </div>
                </div>
                <div class="person__config" data-uid="<%= conversation._id %>">
                  <div class="person__config--setting">
                    <span>...</span>                    
                  </div>
                  <div class="person__config--menu" data-uid="<%= conversation._id %>">
                    <div class="remove-conversation">Xóa hội thoại</div>
                  </div>
                  <div class="person__config--time" data-uid="<%= conversation._id %>">
                    <%= convertToMessengerTimeStamp(conversation.msgUpdatedAt) %>
                  </div>
                </div>          
              </a>
            </li>
          <%}%>                          
        <%})%>             
      </ul> 
    </div> 
  </div>
</div>