<div class="col-12 col-sm-4 col-lg-4 col-xl-3 left-side">
  <div class="left-side__setting">
      <select class="custom-select w-75" id="select-type-chat">
        <option value="all-chat">Toàn bộ trò chuyện</option>
        <option value="private-chat">Trò chuyện cá nhân</option>
        <option value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a href="#modalGroupChat" class="btn-create-group-chat" id="btn-create-group-chat" data-toggle="modal"><i class="fas fa-edit"></i></a>				
  </div>
  <div class="left-side__content" id="left-side">
    <ul class="list-messenger-users">				
      <% if(usersContactList.length){ %>
        <% usersContactList.forEach( user => { %>
        <li class="list-messenger-users__item left-side-user-item" data-uid="<%= user._id %>" data-toggle="tab" data-target="#right-side-<%= user._id %>">
          <div class="list-messenger-users__item-avatar">
            <img src="images/users/<%= user.avatar %>" title="<%= user.username %>" alt="<%= user.username %>" class="list-messenger-users__item-avatar-image">
          </div>
          <div class="list-messenger-users__item-text">
            <div class="list-messenger-users__item-text--username">
              <%= user.username %>
            </div>
            <div class="list-messenger-users__item-text--chat">
              
            </div>						
          </div>
          <div class="list-messenger-users__item-timer">
            <%= convertToMessengerTimer(user.contactUpdatedAt) %>
          </div>
        </li>					
      <%})%>																									
    <%}%>>
    </ul>
  </div>			
</div>