<div class="col-12 col-sm-8 col-lg-8 col-xl-9 right-side">
  <div class="initial-conversation">
    <div class="initial-conversation-top">
      <div class="initial-conversation-top__avatar">
        <img src="images/users/<%= user.avatar %>" alt="avatar">
      </div>
      <div class="initial-conversation-top__content">
        <div class="initial-conversation-top__content--username">
          <%= user.username %>
        </div>
        <div class="initial-conversation-box__content--intro">
          Hãy bắt đầu cùng nhau chia sẻ những câu chuyện thú vị
        </div>
      </div>					
    </div>
    <div class="initial-conversation-bottom">
      <div class="carousel slide initital-conversation-bottom__backgrounds" data-interval="5000" data-pause="false" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="images/involve3.jpg" class="initital-conversation-bottom__backgrounds-image">
          </div>
          <div class="carousel-item">
            <img src="images/involve2.jpg" class="initital-conversation-bottom__backgrounds-image">
          </div>
          <div class="carousel-item">
            <img src="images/involve1.jpg" class="initital-conversation-bottom__backgrounds-image">
          </div>
          <div class="carousel-item">
            <img src="images/march_2020.jpg" class="initital-conversation-bottom__backgrounds-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content screen-chat" id="screen-chat">
    <% allConversations.forEach( (conversation,index) => { %>
      <% if(conversation.members) {%>
      <div class="right-side__screen tab-pane" id="to-<%= conversation._id %>" >
        <div class="right-side__top">
          <div class="right-side__top--leftside">
            To :
            <span class="right-side__top--leftside-username">
              <%= conversation.name %>
            </span>
          </div>
          <div class="right-side__top--rightside">
            <span class="right-side__top--rightside-item">
              <a href="#modalCountMessengers" data-toggle="modal" class="btn-link btn-dark-grey"><i class="fab fa-facebook-messenger"><%= conversation.messages.length %></i></a>
            </span>
            <span class="right-side__top--rightside-item">
              <a href="#modalImage-<%=conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey image-libraries" data-uid="<%= conversation._id %>">Hình ảnh <i class="fas fa-image"></i></a>
            </span>
            <span class="right-side__top--rightside-item">
              <a href="#modalAttachFile-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Tệp đính kèm <i class="fas fa-paperclip"></i></a>
            </span>
          </div>
        </div>
        <div class="right-side__middle">
          <div class="right-side__middle-content convert-emoji" data-chat="<%= conversation._id %>">            
            <% conversation.messages.forEach( (message, index) => { %>
              <%if (message.messageType == "text") {%>
                <div class="group right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble <% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                  
                  <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                  
                  <span class="right-side__middle-content-messenger-text right-side__middle-content-messenger-text--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-id="<%= message._id %>">
                    <%- message.text %>
                  </span>  
                </div>		                
              <%}%>
              <%if (message.messageType == "image") {%>
                <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">
                  <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
                  <span data-message-id="<%= message._id %>" >
                    <img src="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data)%>" class="show-image-file">
                  </span>   
                </div>              
              <%}%>
              <%if (message.messageType == "file") { %>
                <div class="group right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file <% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                  
                  <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                  
                  <span >
                    <a href="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data) %>" class="bubble-attachment-file" download="<%= message.file.fileName %>"> <%= message.file.fileName %></a>
                  </span>

                </div>
              <%}%>             
            <%})%>
          </div>
        </div>
        <div class="right-side__bottom convert-emoji" data-chat="<%= conversation._id %>">
          <input type="text" class="right-side__bottom-write write-chat chat-in-group" id="chat-text-<%= conversation._id %>" data-conversation-type="group" data-chat="<%= conversation._id %>" style="display:none">
          <div class="right-side__bottom-icons">
            <div class="right-side__bottom-icons-item">
              <a href="#" class="icon-chat"><i class="fas fa-smile"></i></a>
            </div>					
            <div class="right-side__bottom-icons-item">            
              <label for="image-chat-<%= conversation._id %>" class="image-chat" data-chat="<%= conversation._id %>"> <input type="file" class="d-none chat-in-group" id="image-chat-<%= conversation._id %>" name="msg-image-chat"><i class="fas fa-image"></i></label>
            </div>
            <div class="right-side__bottom-icons-item">            
              <label for="attach-chat-<%= conversation._id %>" data-chat="<%= conversation._id %>">  <input type="file" class="d-none chat-in-group" id="attach-chat-<%= conversation._id %>" name="msg-attachment-chat"><i class="fas fa-paperclip"></i></label>
            </div>           			
          </div>
        </div>
      </div>
      <%}else{%>
        <div class="right-side__screen tab-pane" id="to-<%= conversation._id %>" >
          <div class="right-side__top">
            <div class="right-side__top--leftside">
              To :
              <span class="right-side__top--leftside-username">
                <%= conversation.username %>
              </span>
            </div>
            <div class="right-side__top--rightside">
              <span class="right-side__top--rightside-item">
                <a href="#modalImage-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey image-libraries" data-uid="<%= conversation._id %>">Hình ảnh <i class="fas fa-image"></i></a>
              </span>
              <span class="right-side__top--rightside-item">
                <a href="#modalAttachFile-<%= conversation._id %>" data-toggle="modal" class="btn-link btn-dark-grey">Tệp đính kèm <i class="fas fa-paperclip"></i></a>
              </span>
            </div>
          </div>
          <div class="right-side__middle ">
            <div class="right-side__middle-content convert-emoji" data-chat="<%= conversation._id %>">              
              <% conversation.messages.forEach( (message, index) => { %>
                <%if (message.messageType == "text") {%>
                  <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                    
                    <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
                    <span class="right-side__middle-content-messenger-text right-side__middle-content-messenger-text--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-id="<%= message._id %>">
                      <%- message.text %>
                    </span>
                    <br>
                    <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>                      
                      <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                        <% if(message.hasSeen) {%>
                          Đã xem
                        <%}else if(message.hasReceived) {%>
                          Đã nhận
                        <%}else{%>
                          Đã gửi
                        <%}%>
                      </span>                            
                    <%}%>
                  </div>		
                <%}%>
                <%if (message.messageType == "image") {%>
                  <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">
                    <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>">                    
                    <span data-message-id="<%= message._id %>" >
                      <img src="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data)%>" class="show-image-file">
                    </span>
                    <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>
                      <br>
                      <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                        <% if(message.hasSeen) {%>
                          Đã xem
                        <%}else if(message.hasReceived) {%>
                          Đã nhận
                        <%}else{%>
                          Đã gửi
                        <%}%>
                      </span>                            
                    <%}%>
                  </div>
                <%}%>
                <%if (message.messageType == "file" ) { %>
                  <div class="right-side__middle-content--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%> bubble bubble-image-file" title="<%= convertDateTimeMessenger(message.createdAt) %>" data-message-id="<%= message._id %>">                    
                    <img src="images/users/<%= message.sender.avatar %>" class="right-side__middle-content-avatar right-side__middle-content-avatar--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" >
                    <span data-message-id="<%= message._id %>">
                      <a href="data:<%= message.file.contentType %>;base64,<%= bufferToBase64(message.file.data) %>" class="bubble-attachment-file" download="<%=message.file.fileName %>"><%= message.file.fileName %></a>
                    </span>
                    <% if( message.senderId == user._id && index == conversation.messages.length -1) {%>
                      <br>
                      <span class="status-messenger status-messenger--<% if(message.senderId == user._id){%>me<%}else{%>you<%}%>" data-message-uid="<%= message._id %>">
                        <% if(message.hasSeen) {%>
                          Đã xem
                        <%}else if(message.hasReceived) {%>
                          Đã nhận
                        <%}else{%>
                          Đã gửi
                        <%}%>
                      </span>                            
                    <%}%>
                  </div>
                <%}%>                               
              <%})%>
                  
            </div>
          </div>
          <div class="right-side__bottom convert-emoji" data-chat="<%= conversation._id %>">
            <input type="text" class="right-side__bottom-write write-chat" id="chat-text-<%= conversation._id %>" data-conversation-type="private"  data-chat="<%= conversation._id %>" style="display:none">
            <div class="right-side__bottom-icons">
              <div class="right-side__bottom-icons-item">
                <a href="#" class="icon-chat"><i class="fas fa-smile"></i></a>
              </div>					
              <div class="right-side__bottom-icons-item">                
                <label for="image-chat-<%= conversation._id %>" class="image-chat" data-chat="<%= conversation._id %>"><input type="file" class="d-none" id="image-chat-<%= conversation._id %>" name="msg-image-chat"><i class="fas fa-image"></i></label>
              </div>
              <div class="right-side__bottom-icons-item">
                <label for="attach-chat-<%= conversation._id %>" data-chat="<%= conversation._id %>">  <input type="file" class="d-none" id="attach-chat-<%= conversation._id %>" name="msg-attachment-chat"><i class="fas fa-paperclip"></i></label>
              </div>
              <div class="right-side__bottom-icons-item">
                <a href="javascript:void(0)" id="video-chat-<%= conversation._id %>" id="video-chat"><i class="fas fa-video"></i></a>
              </div>				
            </div>
          </div>
        </div>
      <%}%>
    <%})%>
  </div>
</div>