<% listUsers.forEach( user => { %>
<li class="search-users-box__list-users-item" data-uid="<%= user._id %>">
  <div class="card-user">
    <div class="card-user__body">
      <div class="card-user__body-avatar">
        <img src="images/users/<%= user.avatar %>" class="card-user__body-avatar--image">
      </div>
      <div class="card-user__body-text">
        <div class="card-user__body-text--username">
          <%- user.username %>
        </div>
        <div class="card-user__body-text-address">
          <%- user.address %>
        </div>
      </div>
    </div>
    <div class="card-user__footer">    
      <button class="btn btn-success btn-sm btn-request-add-contact" <% if(user.hasContact) {%>style="display:none"<%}else{%>style="display:inline-block"<%}%>  data-uid="<%= user._id %>" >Mời kết bạn</button>   
      <button class="btn btn-danger btn-sm btn-remove-request-add-contact"  <% if(user.hasContact) {%>style="display:inline-block"<%}else{%>style="display:none"<%}%>  data-uid="<%= user._id %>">Hủy yêu cầu</button>      
    </div>
  </div>
</li>      
<%})%>
